/*reset default styles */
*{
    padding:0;
    margin:0;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
/* default global style */
body{
    font-size: 17px;
    line-height: 24px;
    font-family: helevetica;
}
img{
    width: 100%;
}

/* custom styling */

aside{
    position: absolute;
    width: 25%;
    height: 100%;

}
.logo{
    width: 180px;
    margin: 100px auto;
}
.navigation{
    position: relative;
    font-weight: bold;
    font-size: 17px;
    text-align: center;
}
.navigation li{
    display: block;
    padding: 10px 0;
}
.navigation li a{
    color: #000;
}
section{
    position: relative;
    width: 75%;
    left: 25%;
}
.text-content{
    padding: 50px 20px;
}

/* For slider ...  */


.slider img{
	position: relative;
	padding:5px;
	width:98%;
	height:650px;
	margin: auto;
	margin-top: 8px;
}
.slide{
	position:relative;
	top:0;
	left:0;
	box-shadow: 0px 0px 15px #999;
}

#arrowLeft{
	position: absolute;
	top: 300px;
	left: 0px;
	height: 100px;
	width: 100px;
}

#arrowRight{
	position: absolute;
	top: 300px;
	right: 10px;
	height: 100px;
	width: 100px;	
}
 
.slide.ng-hide-add, .slide.ng-hide-remove {
    display:block!important;
}
 
.slide.ng-hide-add.ng-hide-add-active,.slide.ng-hide-remove {
  opacity:0;
}
 
.slide.ng-hide-add,.slide.ng-hide-remove.ng-hide-remove-active {
  opacity:1;
}
.pic-div
{
    position: absolute;
    top: 570px;
    right: 15px;
    background-color: rgba(69, 66, 76, 0.87);
    display: block;
    height: 93px;
    width: 200px;
    text-align: center;
    font-family: cursive;
    text-transform: capitalize;
    font-style: oblique;
    color: darkseagreen;
}
h2.ng-binding {
    margin-top: 10px;
}
/* ............... For index.html .............*/
.img-wrapper li{
 display: inline-block;
 width: 220px;
 margin: 5px 3px;
}
.cont-wrapper{
    width: 907px;
}
h3{
    text-align: right;
    color: rgba(0, 0, 0, 0.67);
}


.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
button{
overflow:visible;
}
input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
.links img{
    width: 40px;
    display: inline-block;
}
.links{
    position: fixed;
    margin-left: 3%;
    margin-right: 3%;
    padding-right: 70%;
    top: 628px;
}
