/*reset default styles */
*{
    padding:0;
    margin:0;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
/* default global style */
body{
    font-size: 17px;
    line-height: 24px;
    font-family: helevetica;
}
img{
    width: 100%;
}

/* custom styling */

aside{
    position: absolute;
    width: 25%;
    height: 100%;

}
.logo{
    width: 180px;
    margin: 100px auto;
}
.navigation{
    position: relative;
    font-weight: bold;
    font-size: 17px;
    text-align: center;
}
.navigation li{
    display: block;
    padding: 10px 0;
}
.navigation li a{
    color: #000;
}
section{
    position: relative;
    width: 75%;
    left: 25%;
}
.text-content{
    padding: 50px 20px;
}
