 <!--<div id="About"> {{aboutUsContent}}</div>-->
<div ng-controller="TextareaCtrl">
 <form data-editable-form name="textareaForm" >

	<div class="buttons">
		<!-- button to show form -->
		<button type="button" class="btn btn-default" ng-click="textareaForm.$show()" ng-show="!textareaForm.$visible">
        Edit
		</button>
      <!-- buttons to submit / cancel form -->
      <span ng-show="textareaForm.$visible">
        <br/>
        <button type="submit" class="btn btn-primary" ng-disabled="textareaForm.$waiting">
          Save
        </button>
        <button type="button" class="btn btn-default" ng-disabled="textareaForm.$waiting" ng-click="textareaForm.$cancel()">
          Cancel
        </button>
      </span>
	</div> 
      <!-- editable element -->
      <div editable-textarea="aboutUsContent" data-e-form="textareaForm" data-e-name="state" name="state" theme="bootstrap" data-e-ng-model="aboutUsContent" data-e-style="min-width:300px;" e-rows="50" e-cols="130" >
	  {{ aboutUsContent || "empty" }}
	  </div>
 </form>
</div>

<div ng-controller="serviceController">
{{message}}
</div>