<div class="links links-top">
	<a href="#"><img ng-src="https://www.facebook.com/images/fb_icon_325x325.png"></a>
	<a href="#"><img ng-src="https://upload.wikimedia.org/wikipedia/en/thumb/9/9f/Twitter_bird_logo_2012.svg/220px-Twitter_bird_logo_2012.svg.png"></a>
	<a href="#"><img ng-src="https://lh3.googleusercontent.com/aYbdIM1abwyVSUZLDKoE0CDZGRhlkpsaPOg9tNnBktUQYsXflwknnOn2Ge1Yr7rImGk=w300"></a>
	<a href="#"><img ng-src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSXuJm-QYW1qDaZof1DYbSdAeeH4xFkzfwJ0J4-ZJRcugsl1g_o1sBlhQ"></a>
	<a href="whatsapp://send?text=http://shoryavaish.github.io/Jacoblaws/" data-action="share/whatsapp/share"><img ng-src="https://whatsapp.com/favicon.png"></a>
</div>